*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.become__cards {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.become__cards--left {
  width: 48%;
  margin: 100px;
}

.become__cards--left--h3 {
  color: #0E204E;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.become__cards--left--p {
  color: #263238;
  font-family: " Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
  margin-bottom: 30px;
}

.become__cards--left--button {
  width: 239px;
  height: 62px;
  flex-shrink: 0;
  background: #0E204E;
  color: #FFF;
  font-family: "Gotham";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.become__cards--right {
  margin-left: 30px;
  width: 55%;
  height: 800px;
  display: flex;
}

.stay__cards {
  margin-top: 70px;
  text-align: center;
}

.stay__cards--h4 {
  color: #0E204E;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.stay__cards--p {
  color: #000;
  text-align: center;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
  margin-bottom: 30px;
}

.form {
  margin-left: 310px;
}

.input {
  display: block;
  width: 709px;
  height: 55px;
  padding: 20px;
  color: #000;
  font-family: " Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}

.input-2 {
  display: block;
  width: 709px;
  height: 202px;
  padding: 20px;
  color: #000;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stay__cards--btn {
  margin-top: 30px;
  margin-left: 300px;
  padding: 20px;
  display: block;
  width: 141px;
  height: 48px;
  flex-shrink: 0;
  background: #0E204E;
  color: #FFF;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}