*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}
.container{
    max-width: 1720px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 10px;
 }
 .header__ul{
    display: flex;
    justify-content: space-between;
 }
 .header__ul--li{
    list-style-type: none;
 }
 .header__ul--li--button{
    color: white;
    width: 188px;
height: 50px;
background: #0E204E;
 }
 .hero-card__h1{
    margin-left: 50px;
    width: 643px;
    height: 107px;
    flex-shrink: 0;
    color: #FFF;
    
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }
.hero-card__p{
    margin-top: 150px;
    margin-left: 50px;
    width: 655px;
    height: 83px;
    flex-shrink: 0;
    color: #FFF;
    
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
 .hero-card{
    margin-bottom: 200px;
    margin-top: -600px;
    width: 786px;
height: 496px;
flex-shrink: 0;
background: #0E204E;
 }
 .hero-left{
    margin-top: 100px;
    margin-left: 400px;
    width: 1368px;
    height: 717px;
    content: "";
    background-image: url(./images/secition-img.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .hero{
    margin-bottom: 100px;
 }
 .abaut{
    display: flex;
 }
 .abaut__h2{
    margin-top: 150px;
    width: 317px;
color: #0E204E;

font-family: Playfair Display;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .abaut-card{
    width: 433px;
height: 620px;
flex-shrink: 0;
background: #0E204E;
 }
 .abaut__img{
    width: 728px;
height: 620px;
 }
 .abaut-card__p{
    margin-top: 150px;
    margin-left: 50px;
    width: 315px;
color: #FFF;

font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
 }