// playfair display
@font-face {
    font-family: "Playfair display 700";
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('woff');
}
// Manpore
@font-face {
    font-family: "Manrope 400";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/Manrope/static/Manrope-Regular.ttf') format('woff')
}
// poppins
@font-face {
    font-family: "Poppins 400";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('woff');
}