.interer{
    padding-top: 140px;
    padding-bottom: 140px;

    &__heading{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 46px;
        line-height: 125%;
        text-align: center;
        text-transform: uppercase;
        color: #282B22;      
    }

    &__list{
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item{
            max-width: 384px;
            margin-top: 80px;
            padding-left: 30px;
            padding-right: 30px;  
            
            &:nth-child(1){
                border-left: 2px solid rgba(40, 43, 34,.2);
            }
            &:nth-child(3){
                border-right: 2px solid rgba(40, 43, 34,.2);
            }
            
            &:nth-child(2){
                border-left: 2px solid rgba(40, 43, 34,.2);
                border-right: 2px solid rgba(40, 43, 34,.2);
            }

            &-title{
                margin-top: 60px;
                margin-bottom: 30px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                color: #3D4A39;    
            }

            &-number{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                color: #282B22;
                opacity: 0.5;   
            }
        }

    }
    &__img{
        display: inline-block;
        width: 100%;
    }
}

@media screen and (max-width:640px) {
    .interer{

        &__heading{
            font-size: 36px;
            line-height: 125%;   
        }

        &__list{
            flex-wrap: wrap;

            &-item{
                width: 50%;
                margin-top: 60px;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2){
                    border-right: none;
                }

                &:nth-child(3){
                    border-right: none;
                    border-left: 2px solid rgba(40, 43, 34,.2);
                }

                &-title{
                    margin-top: 40px;
                    margin-bottom: 20px;
                    font-size: 20px;
                    line-height: 145%;    
                }
            }
        }
    }
    
}

@media screen and (max-width:400px) {
    .interer{
        &__list{
            width: 100%;
            &-item{
                padding: 0;
                width: 100%;
                
                &:nth-child(1){
                    border-left: none;
                }
                &:nth-child(2){
                    border-left: none;
                }
                &:nth-child(3){
                    border-left: none;
                }
            }
        }
    }
}
    
