.become__cards {
    display: flex;
    justify-content: space-between;
}

.become__cards--left {
    width: 40%;
}

.become__cards--left--h3 {
    color: #0E204E;
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}